$main-font-color: #000d40;
$secondary-font-color: white;
$button-color: #9cbd44;
$bg-color-1: #ffffff;
$bg-color-2: #f9f9f9;
$bg-text-1: #f7f7f7;
$bg-text-2: #f4f4f4;
$shadow-color: #777777;
$food-info-button-bg: #f0f5e3;
$food-info-button-txt: #b1cb6c;