.landing-page {
  text-align: center;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    .column {
      height: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .main-content {
    padding-left: 0;
    padding-right: 0;
    .header-row {
      height: 10vh;
    }
    .box-row {
      height: 90vh; // height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      .box {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        p {
          margin-bottom: 0;
        }
        .small-text {
          font-size: 1.25rem;
          img{
            width: 2.2rem;
            height: 2.2rem;
            margin-top: -1rem;
          }
        }
        .large-text {
          font-size: 4rem;
          font-weight: 700;
        }
        button {
          font-size: 0.55rem;
          padding: 0.75rem;
          padding-left: 2.25rem;
          padding-right: 2.25rem;
          margin-top: 3rem;
          border-radius: 0.15rem;
          color: white;
          border: none;
          background-color: #9cbd44;
        }
        button:hover {
          cursor: pointer;
        }
      }
    }
    header {
      width: 100%;
      .navbar-brand {
        img{
          width: auto;
          height: 2.5rem;
        }
      }
      .navbar-nav {
        li {
          font-size: 0.75rem;
          margin-left: 2.5rem;
          margin-right: 2.5rem;
        }
      }
    }
  }
  .side-content {
    background: no-repeat;
    background-image: url("assets/tortillas.jpg");
    background-position: center;
    background-size: 103%;
    height: 100%;
    ;
    width: auto;
  }
  .social-nav { 
    background: no-repeat;
    background-image: url("assets/social.jpg");
    background-size: 100%;
    height: 100%;
    ;
    width: 100%;
    .search-shop-links{
      padding-top: 10vh;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around; 
      img{
        width: 2rem;
        height: 2rem;
      }
    }
    .social-links{
      padding-top: 10vh;
      ul {
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
      li{
        padding: 2.5rem;
        /* Safari */
        -webkit-transform: rotate(90deg);
        /* Firefox */
        -moz-transform: rotate(90deg);
        /* IE */
        -ms-transform: rotate(90deg);
        /* Opera */
        -o-transform: rotate(90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
      a{
        color: black;
      }
    }

  }
}
