main {
    padding: 10px;
  }
  .view-mode-menu {
    float: right;
    margin-bottom: 10px;
  }

  .view-mode-menu~* {
    clear: right;
  }

  .pictures-list {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  .picture {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .picture .caption {
    margin-top: 10px;
  }

  .tiles .pictures-list {
    justify-content: center;
  }

  .tiles .pictures-list .picture {
    width: 25%;
    text-align: center;
    margin-right: 10px;      
  }

  .list .pictures-list .picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    
  }

  .list .pictures-list .picture .caption {
    margin-left: 10px;
    
  }