<section class="container-fluid main-content">
  <div id="background">
    <p id="bg-text">DESIGN</p>
  </div>
  <div class="row header-row">
    <header>
      <app-header></app-header>
    </header>
  </div>
  <div class="row box-row">
    <div class="flex-container box">
      <p class="small-text">Beyond The Limits Of A Good Food ......
        <img src="assets/hot-meal.png">
      </p>
      <p class="large-text">Food Tastes Better</p>
      <p class="large-text">When You Eat It</p>
      <p class="large-text">With Your Family.</p>
      <button>ORDER NOW</button>
    </div>
  </div>
</section>
