.landing-page {
  overflow: hidden;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  padding-right: 0; }
  .landing-page .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0; }
    .landing-page .row .column {
      height: 100%;
      padding-left: 0;
      padding-right: 0; }
  .landing-page #bg-design {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 50%;
    min-width: 50%;
    left: 5rem;
    top: -27vh; }
  .landing-page .bg-text {
    color: #f7f7f7;
    font-size: 285px;
    font-weight: 600; }
  .landing-page .main-content {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0; }
    .landing-page .main-content .header-row {
      height: 10vh; }
    .landing-page .main-content .box-row {
      height: 90vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .landing-page .main-content .box-row .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .landing-page .main-content .box-row .box p {
          color: #00166e;
          margin-bottom: 0; }
        .landing-page .main-content .box-row .box .small-text {
          font-size: 1.25rem; }
          .landing-page .main-content .box-row .box .small-text img {
            width: 2.2rem;
            height: 2.2rem;
            margin-top: -1rem; }
        .landing-page .main-content .box-row .box .large-text {
          font-size: 4rem;
          font-weight: 700; }
        .landing-page .main-content .box-row .box .order-now {
          position: relative;
          z-index: 2;
          font-size: 0.55rem;
          padding: 0.75rem;
          padding-left: 2.25rem;
          padding-right: 2.25rem;
          margin-top: 3rem;
          border-radius: 0.15rem;
          color: white;
          border: none;
          background-color: #9cbd44; }
        .landing-page .main-content .box-row .box .order-now:hover {
          cursor: pointer; }
    .landing-page .main-content header {
      width: 100%; }
      .landing-page .main-content header .navbar-brand img {
        width: auto;
        height: 2.5rem; }
      .landing-page .main-content header .navbar-nav li {
        font-size: 0.75rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem; }
  .landing-page .side-content {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: auto;
    padding-left: 0;
    padding-right: 0; }
    .landing-page .side-content .carousel-inner {
      border: none;
      height: 100vh; }
      .landing-page .side-content .carousel-inner .carousel-item {
        opacity: 1;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        border: none;
        height: 100%;
        width: auto; }
      .landing-page .side-content .carousel-inner img {
        height: 100%;
        width: auto; }
  .landing-page .social-nav {
    background: no-repeat;
    background-image: url("assets/social.jpg");
    background-size: 100%;
    height: 100%;
    width: 100%; }
    .landing-page .social-nav .search-shop-links {
      padding-top: 10vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .landing-page .social-nav .search-shop-links img {
        width: 2rem;
        height: 2rem; }
    .landing-page .social-nav .social-links {
      padding-top: 10vh; }
      .landing-page .social-nav .social-links ul {
        height: 80vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .landing-page .social-nav .social-links li {
        padding: 2.5rem;
        /* Safari */
        -webkit-transform: rotate(90deg);
        /* Firefox */
        -moz-transform: rotate(90deg);
        /* IE */
        -ms-transform: rotate(90deg);
        /* Opera */
        -o-transform: rotate(90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
      .landing-page .social-nav .social-links a {
        color: #00166e; }

#bg-food {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 50%;
  min-width: 50%;
  left: 40rem;
  top: -20vh; }

.bg-text {
  color: #f4f4f4;
  font-size: 285px;
  font-weight: 600; }

.pop-menu {
  overflow: hidden;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  background-color: #f9f9f9; }
  .pop-menu .title {
    color: #00166e; }
    .pop-menu .title h1 {
      font-size: 3rem;
      padding-top: 5rem;
      margin-bottom: 2rem;
      font-weight: 700; }
    .pop-menu .title p {
      font-size: 0.9rem; }
  .pop-menu .scrollmenu {
    margin-top: 5vh;
    margin-bottom: 10vh;
    min-height: 55vh;
    overflow: auto;
    white-space: nowrap; }
    .pop-menu .scrollmenu .scrollitem {
      display: inline-block;
      text-align: center;
      padding: 14px;
      text-decoration: none; }

.scrollmenu::-webkit-scrollbar {
  display: none; }

.pop-card {
  border-radius: 0.5rem;
  -webkit-box-shadow: 1rem 1rem 3rem #777777;
  box-shadow: 1rem 1rem 3rem #777777;
  margin-top: 3rem;
  padding: 0;
  overflow: hidden;
  color: #00166e;
  width: 30rem;
  height: 19rem; }
  .pop-card .row {
    margin-right: 0;
    margin-left: 0;
    height: 100%; }
    .pop-card .row .image {
      padding: 0;
      overflow: hidden; }
    .pop-card .row .info {
      background-color: #ffffff; }
  .pop-card img {
    height: 100%;
    width: auto; }
  .pop-card .card-id {
    margin-top: 1rem;
    margin-bottom: 0.5rem; }
  .pop-card .hyphen {
    font-size: 1.75rem;
    margin: 0; }
  .pop-card .card-name {
    margin: 0;
    margin-top: 2rem;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

a {
  color: #00166e;
  text-decoration: none; }

a:hover {
  text-decoration: none; }
  a:hover .pop-card {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.food-info {
  height: 100vh;
  padding-left: 0;
  padding-right: 0; }
  .food-info .box-row {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));
    background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
    background-image: -o-linear-gradient(#ffffff, #f9f9f9);
    background-image: linear-gradient(#ffffff, #f9f9f9);
    margin-right: 0;
    margin-left: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .food-info .box-row .box {
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .food-info .box-row .box p {
        color: #00166e;
        margin-bottom: 0; }
      .food-info .box-row .box .content {
        width: 100%;
        height: 100%;
        padding-right: 0;
        padding-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
        .food-info .box-row .box .content .content-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
          .food-info .box-row .box .content .content-container .food-info-content-img {
            margin-right: 0;
            margin-left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            height: 100%; }
            .food-info .box-row .box .content .content-container .food-info-content-img img {
              height: auto;
              width: 100%;
              -webkit-filter: drop-shadow(5px 5px 5px #777777);
              filter: drop-shadow(5px 5px 5px #777777); }
            .food-info .box-row .box .content .content-container .food-info-content-img img:hover {
              -webkit-transition: -webkit-transform .1s;
              transition: -webkit-transform .1s;
              -o-transition: transform .1s;
              transition: transform .1s;
              transition: transform .1s, -webkit-transform .1s;
              -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2); }
          .food-info .box-row .box .content .content-container .food-info-content-txt {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 2rem; }
            .food-info .box-row .box .content .content-container .food-info-content-txt .title {
              color: #00166e;
              font-size: 2.5rem;
              font-weight: 700; }
            .food-info .box-row .box .content .content-container .food-info-content-txt .info {
              color: #00166e;
              margin-top: 1.5rem;
              font-size: 0.85rem;
              font-weight: 400; }
            .food-info .box-row .box .content .content-container .food-info-content-txt .read-more {
              margin-top: 3rem;
              border: none;
              width: 8rem;
              height: 2.4rem;
              font-size: 0.80rem;
              font-weight: 400;
              background-color: #f0f5e3;
              color: #b1cb6c; }
              .food-info .box-row .box .content .content-container .food-info-content-txt .read-more .arrow {
                width: 1.11rem;
                height: auto; }
            .food-info .box-row .box .content .content-container .food-info-content-txt .read-more:hover {
              cursor: pointer; }
              .food-info .box-row .box .content .content-container .food-info-content-txt .read-more:hover .arrow {
                -webkit-transition: -webkit-transform .2s;
                transition: -webkit-transform .2s;
                -o-transition: transform .2s;
                transition: transform .2s;
                transition: transform .2s, -webkit-transform .2s;
                -webkit-transform: translate(0.25rem);
                -ms-transform: translate(0.25rem);
                transform: translate(0.25rem); }

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  background-image: url("assets/oranges.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .contact-page .book-card {
    text-align: center;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2bcf8f), to(#02b6b8));
    background-image: -webkit-linear-gradient(#2bcf8f, #02b6b8);
    background-image: -o-linear-gradient(#2bcf8f, #02b6b8);
    background-image: linear-gradient(#2bcf8f, #02b6b8); }
    .contact-page .book-card h1 {
      margin: 2rem;
      font-size: 1.75rem;
      font-weight: 600; }
    .contact-page .book-card p {
      margin: 2rem 3rem;
      font-size: 0.9rem; }
    .contact-page .book-card .book-now {
      margin: 2rem;
      margin-top: 0;
      border: none;
      width: 8rem;
      height: 2.4rem;
      font-size: 0.80rem;
      font-weight: 400;
      background-color: #f0f5e3;
      color: #b1cb6c; }
      .contact-page .book-card .book-now .arrow {
        width: 1.11rem;
        height: auto; }
    .contact-page .book-card .book-now:hover {
      cursor: pointer; }
      .contact-page .book-card .book-now:hover .arrow {
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        -webkit-transform: translate(0.25rem);
        -ms-transform: translate(0.25rem);
        transform: translate(0.25rem); }

.spec-menu {
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background-color: #f9f9f9; }
  .spec-menu .title {
    color: #00166e; }
    .spec-menu .title h1 {
      font-size: 3rem;
      padding-top: 5rem;
      margin-bottom: 2rem;
      font-weight: 700; }
    .spec-menu .title p {
      font-size: 0.9rem; }
  .spec-menu .special-menu {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .spec-menu .special-menu .special-item {
      display: inline-block;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      margin-top: 3rem; }
  .spec-menu .spec-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    -webkit-box-shadow: 1rem 1rem 3rem #777777;
    box-shadow: 1rem 1rem 3rem #777777;
    padding: 0;
    overflow: hidden;
    color: #00166e;
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .spec-menu .spec-card .top-part {
      height: 50%; }
      .spec-menu .spec-card .top-part .image {
        padding: 1rem;
        height: 90%;
        overflow: hidden; }
        .spec-menu .spec-card .top-part .image .card-img {
          width: 100%; }
    .spec-menu .spec-card .card-price {
      font-size: 1.75rem;
      font-weight: 700;
      position: relative;
      z-index: 2;
      top: -2rem;
      left: 38%;
      margin-bottom: 0;
      padding: 1rem 1rem 1rem 1rem;
      border-right: 0.75rem;
      border-left: 0.75rem;
      border-radius: 50%;
      background-color: #ffffff;
      height: 5rem;
      width: 5rem; }
    .spec-menu .spec-card .bottom-part {
      height: 50%; }
      .spec-menu .spec-card .bottom-part .info {
        height: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .spec-menu .spec-card .bottom-part .info .card-name {
          font-size: 1.5rem;
          font-weight: 700; }
        .spec-menu .spec-card .bottom-part .info .card-info {
          padding-left: 1rem;
          padding-right: 1rem;
          font-size: 1rem; }

a {
  color: #00166e;
  text-decoration: none; }

a:hover {
  text-decoration: none; }
  a:hover .spec-card {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.newsletter {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.25)), to(rgba(255, 0, 0, 0.1))), url(assets/pink-bg.jpg);
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.1)), url(assets/pink-bg.jpg);
  background: -o-linear-gradient(rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.1)), url(assets/pink-bg.jpg);
  background: linear-gradient(rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.1)), url(assets/pink-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .newsletter h1 {
    color: #00166e;
    font-weight: 700;
    font-size: 2.75rem; }
  .newsletter .subscription {
    font-size: 0.75rem; }
    .newsletter .subscription .email-input {
      height: 3.5rem;
      width: 25rem;
      padding: 0.75rem;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      border-radius: 0.15rem;
      color: #00166e;
      border: none; }
    .newsletter .subscription .submit {
      height: 3.5rem;
      padding: 0.75rem;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      border-radius: 0.15rem;
      color: white;
      font-weight: 500;
      border: none;
      background-color: #9cbd44; }
    .newsletter .subscription .submit:hover {
      cursor: pointer; }

app-newsletter {
  width: 100%; }

.footer {
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer .newsfoot {
    height: 40%;
    width: 100%; }
  .footer .linksfoot {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.5))), url(assets/waves.png);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url(assets/waves.png);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url(assets/waves.png);
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url(assets/waves.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%; }
    .footer .linksfoot hr {
      width: 50%;
      display: block;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.05); }
    .footer .linksfoot .copy {
      color: #aaaaaa; }
  .footer .foot-nav {
    width: 33%;
    height: 20%; }
    .footer .foot-nav .navlist {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .footer .foot-nav .navlist .nav-link {
        font-size: 0.9rem;
        font-weight: 500; }
  .footer .foot-social {
    width: 20%;
    height: 20%;
    margin-bottom: 10vh; }
    .footer .foot-social .navlist {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .footer .foot-social .navlist .social-icons {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-position: center;
        background-size: cover; }
      .footer .foot-social .navlist #twitter {
        background-image: url("assets/gray/Twitter.png"); }
      .footer .foot-social .navlist #twitter:hover {
        background-image: url("assets/Twitter.png"); }
      .footer .foot-social .navlist #facebook {
        background-image: url("assets/gray/Facebook.png"); }
      .footer .foot-social .navlist #facebook:hover {
        background-image: url("assets/Facebook.png"); }
      .footer .foot-social .navlist #instagram {
        background-image: url("assets/gray/Instagram.png"); }
      .footer .foot-social .navlist #instagram:hover {
        background-image: url("assets/Instagram.png"); }
      .footer .foot-social .navlist #youtube {
        background-image: url("assets/gray/YouTube.png"); }
      .footer .foot-social .navlist #youtube:hover {
        background-image: url("assets/YouTube.png"); }

html, body {
  height: 100%; }
