//COLOR PALETTE
$first-color:#00c674;
$secondary-color:white;
$third-color: #00a1b2;
$bg-gradient-1: #f6f8f8;
$bg-gradient-2: #e1e8eb;
// FONTS
// $font-family: 'Montserrat';
$font-family: 'Quicksand';
// $font-family: 'Josefin Sans';
$text-font: #9d9d9d;
$title-font: #727376;
$main-font: #12a366;
$button-font: $secondary-color;

//USED VARIABLES
$main-bg-color-1: $bg-gradient-1;
$main-bg-color-2: $bg-gradient-2;
$header-bg-color: $secondary-color;
$card-bg-color: $secondary-color;
$logo-color: $first-color;
$nav-bg-color:$first-color;
$footer-bg-color:$first-color;
$button-color-1:$first-color;
$button-color-2:$third-color;
$help-bg: $third-color;
$link-color: $third-color;
$border-color: $first-color;
$second-border-color: $secondary-color;
$price-font: $first-color;
