// COLOR PALETTE
$first-color:#00c674;
$first-color-dark:#12a366;
$secondary-color:white;
$third-color: #00a1b2;
$bg-gradient-1: #f6f8f8;
$bg-gradient-2: #e1e8eb;
$gray-1: #9d9d9d;
$gray-2: #727376;

// Font size, family and colors
$rem-font-size: 16px;
$font-family: 'Quicksand';
$text-font: $gray-1;
$title-font: $gray-2;
$main-font: $first-color-dark;
$button-font: $secondary-color;
$price-font: $first-color;
$link-color: $third-color;
$header-link-color: $third-color;
$cost-color: $third-color;

// Backgrounds colors
$main-bg-color-1: $bg-gradient-1;
$main-bg-color-2: $bg-gradient-2;
$header-bg-color: $secondary-color;
$card-bg-color: $secondary-color;
$nav-bg-color:$first-color;
$footer-bg-color:$first-color;
$button-bg-color-1:$first-color;
$button-bg-color-2:$third-color;
$logo-bg-color: $first-color;
$help-bg: $third-color;

//Borders colors
$border-color-1: $first-color;
$border-color-2: $secondary-color;

// Flexbox Mixin
@mixin flex($flow, $align, $justify){
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
}
