@import '_constants.scss';

html{
  font-size: $rem-font-size;
}

body {
  margin: 0;
  font-family: $font-family, sans-serif;
  color: $text-font;
  box-sizing: border-box;

  .body-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;

    nav {
      @include flex(column wrap, flex-start, flex-start);
      margin: 0;
      padding: 0;
      height: auto;
      box-sizing: border-box;
      background-color: $nav-bg-color;
      float: left;
      overflow: hidden;
      transition: all 0.3s;
      width: 20%;
      position: static;

      .logo-container {
        height: 7vh;
        min-height: 4rem;
        width: 100%;
        @include flex(column wrap, center, center);
        transition: background-image 0.3s;

        a {
          height: 50%;
          width: 100%;
          @include flex(column wrap, center, center);
        }

        img {
          height: 100%;
          transition: transform 0.3s;
        }
      }

      .logo-container:hover {
        img {
          transform: scale(1.1);
        }

        transition: background-image 0.3s;
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01));
      }

      .search-container {
        @include flex(row wrap, center, space-between);
        width: 100%;
        height: 7vh;
        min-height: 4rem;
        background-color: rgba(0, 0, 0, 0.10);

        input {
          height: 100%;
          width: 85%;
          border: none;
          background: none;
          font-family: $font-family, sans-serif;
          color: $button-font;
          font-size: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        input:focus{
          outline: none;
        }

        a {
          width: 15%;
          @include flex(column wrap, center, center);

          img {
            width: 1.2rem;
            transition: transform .1s;
          }

          img:hover {
            transform: scale(1.2);
          }
        }
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: $font-family, sans-serif;
        color: $button-font;
        font-size: 1rem;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: $font-family, sans-serif;
        color: $button-font;
        font-size: 1rem;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: $font-family, sans-serif;
        color: $button-font;
        font-size: 1rem;
      }

      ul {
        list-style-type: none;

        li {
          display: block;

          a {
            color: $button-font;
            text-decoration: none;
            font-size: 1rem;
            @include flex(row nowrap, center, flex-start);
            width: 100%;
            transition: transform .2s;

            img {
              width: 1.2rem;
              margin-right: 1rem;
            }

            p {
              margin-right: 1rem;
              width: 100%;
            }
          }

          a:hover {
            transform: translate(0.75rem);
          }
        }
      }

      hr {
        border: 1px solid rgba(0, 0, 0, 0.10);
        width: 100%;
      }
    }

    .nav-openNavDesktop {
      width: 20%;
      height: auto;
      position: static;
    }
    .nav-closeNavDesktop {
      width: 0%;
      position: static;
    }

    main {
      height: 100%;
      width: 80%;
      float: right;
      background-image: linear-gradient($main-bg-color-1, $main-bg-color-2);
      box-sizing: border-box;
      transition: all 0.3s;

      header {
        height: 7vh;
        min-height: 4rem;
        background-color: $card-bg-color;
        display: flex;
        flex-flow: row wrap;

        .icons {
          flex-grow: 4;
          @include flex(row wrap, center, flex-start);
          padding: 1rem;
          border-right: 1px solid rgba(0, 0, 0, 0.05);

          img {
            height: 1.75rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          #menu-icon {
            height: 1.25rem;
            width: 2rem;
            transition: transform 0.2s;
            transition-delay: 0.1s;
          }

          #message-icon {
            transition: transform 0.2s;
            transition-delay: 0.1s;
          }

          #bell-icon {
            transition: transform 0.2s;
            transition-delay: 0.1s;
          }
        }

        #menu-icon:hover {      
          -webkit-animation: menu 1s;
          -webkit-animation-iteration-count: infinite;
          animation: menu 1s;
          animation-iteration-count: infinite;
        }

        #message-icon:hover {
          -webkit-animation: message 1s;
          -webkit-animation-iteration-count: infinite;
          animation: message 1s;
          animation-iteration-count: infinite;
        }

        #bell-icon:hover {
          -webkit-animation: bell 1s;
          -webkit-animation-iteration-count: infinite;
          animation: bell 1s;
          animation-iteration-count: infinite;
        }

        /* Standard */
        @keyframes bell {
          0% { transform: rotateZ(0deg); }

          25% { transform: rotateZ(20deg); }

          40% { transform: rotateZ(-20deg); }

          60% { transform: rotateZ(20deg); }

          75% { transform: rotateZ(-20deg); }

          100% { transform: rotateZ(0deg); }
        }

        /* Chrome, Safari, Opera */
        @-webkit-keyframes bell {
          0% { transform: rotateZ(0deg); }

          25% { transform: rotateZ(20deg); }

          40% { transform: rotateZ(-20deg); }

          60% { transform: rotateZ(20deg); }

          75% { transform: rotateZ(-20deg); }

          100% { transform: rotateZ(0deg); }
        }

        /* Standard */
        @keyframes message {
          0% { transform: translateY(0); }

          50% { transform: translateY(-0.50rem); }

          60% { transform: translateY(0.50rem); }

          100% { transform: translateY(0); }
        }

         /* Chrome, Safari, Opera */
        @-webkit-keyframes message {
          0% { transform: translateY(0); }

          50% { transform: translateY(-0.50rem); }

          60% { transform: translateY(0.50rem); }

          100% { transform: translateY(0); }
        }

        /* Standard */
        @keyframes menu {
          0% { transform: scale(1.0); }

          30% { transform: scale(1.3); }

          40% { transform: scale(1.0); }

          50% { transform: scale(1.3); }

          100% { transform: scale(1.0); }
        }

        /* Chrome, Safari, Opera */
        @-webkit-keyframes menu {
          0% { transform: scale(1.0); }

          30% { transform: scale(1.3); }

          40% { transform: scale(1.0); }

          50% { transform: scale(1.3); }

          100% { transform: scale(1.0); }
        }

        .help-center {
          flex-grow: 1;
          @include flex(row wrap, center, center);
          padding: 1rem;
          padding-top: 0;
          padding-bottom: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.05);

          a {
            text-decoration: none;
          }

          #help-icon {
            @include flex(row wrap, center, center);
            height: 2rem;
            width: 2rem;
            color: $button-font;
            background-color: $help-bg;
            border-radius: 50%;
            text-align: center;
          }

          .help-center-info {
            height: 100%;
            box-sizing: border-box;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-left: 1rem;
            @include flex(column wrap, flex-start, center);

            .row {
              @include flex(row wrap, center, flex-start);
              height: 35%;

              img {
                margin: 0.5rem;
                transition: transform 0.2s;
              }

              #help-text {
                font-weight: 500;
              }

              #dropdown-icon {
                height: 0.5rem;
                margin-bottom: 0;
              }

              #online-text {
                font-size: 0.75rem;
              }

              #online-icon {
                display: block;
                height: 0.33rem;
                width: 0.33rem;
                background-color: $button-bg-color-1;
                border-radius: 50%;
                margin-right: 0.25rem;
              }
            }
          }
        }

        .help-center:hover {

          img {
            transform: translateY(0.25rem);
          }
        }

        .user {
          flex-grow: 1;
          @include flex(row wrap, center, flex-start);
          padding-left: 1rem;
          padding-right: 1rem;

          #user-icon {
            object-fit: cover;
            width: 3rem;
            height: 3rem;
            border: 2px solid $border-color-1;
            border-radius: 50%;
          }

          p {
            font-weight: 500;
            margin-left: 0.5rem;
          }
        }
      }

      .dashboard {
        display: block;
        padding: 1.5rem;
        padding-top: 0;
        height: 100%;
        box-sizing: border-box;

        .title-container {
          height: 15vh;
          min-height: 8rem;
          @include flex(row wrap, center, space-between);

          .title {
            
            p {
              font-size: 1rem;
              font-weight: 500;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: 0.5rem;
            }

            h1 {
              color: $main-font;
              font-size: 2.75rem;
              font-weight: 500;
              margin-top: 0;
              margin-bottom: 0;
            }
          }

          .survey-button-link {
            text-decoration: none;
            height: 40%;
            width: 25rem;
            @include flex(column wrap, flex-start, center);

            button {
              font-family: $font-family, sans-serif;
              color: $button-font;
              background-color: $button-bg-color-1;
              border: none;
              height: 100%;
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              font-size: 1.25rem;
              transition: box-shadow 0.6s, transform 0.5s;
            }

            button:hover {
              cursor: pointer;
              transform: scale(1.05);
              box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
            }
          }
        }

        .grid-container {
          height: 85%;
          width: 100%;

          .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(auto, auto);
            grid-gap: 1.5rem;
            height: 100%;

            .card {
              transition: box-shadow 0.6s, transform 0.5s;
              background-color: $card-bg-color;
              @include flex(column wrap, center, space-between);
              box-sizing: border-box;
              padding: 1.5rem;

              h2 {
                width: 100%;
                font-weight: 500;
                color: $title-font;
                font-size: 1.25rem;
              }

              h3 {
                width: 100%;
                font-weight: 400;
                color: $main-font;
                font-size: 1.75rem;
              }

              strong {
                width: 100%;
                font-weight: 500;
                color: $main-font;
                font-size: 5.5rem;
              }

              p {
                width: 100%;
              }

              .important {
                font-style: none;
                color: $main-font;
              }

              .card-button-link {
                width: 100%;
                height: 7vh;
                min-height: 4rem;

                .card-button {
                  font-family: $font-family, sans-serif;
                  font-size: 1.25rem;
                  border: none;
                  color: $button-font;
                  background-color: $button-bg-color-2;
                  width: 100%;
                  height: 100%;
                }

                button {
                  transition: transform .2s;
                }

                button:hover {
                  cursor: pointer;
                  transform: scale(1.05);
                }
              }
            }

            .card:hover {
              cursor: pointer;
              transform: scale(1.025);
              box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
            }

            #period-usage {
              .title-with-dates {
                width: 100%;

                p {
                  margin-top: 0;
                }
              }

              .graph {
                width: 75%;
                margin-top: 2rem;
                margin-bottom: 2rem;
              }

              hr {
                border: 1px solid rgba(0, 0, 0, 0.10);
                width: 100%;
              }

              .period-info {
                width: 100%;
                @include flex(row wrap, center, space-between);

                h3 {
                  margin-top: 0;
                  margin-bottom: 0;
                  font-size: 3rem;
                }

                p {
                  margin-top: 0;
                  margin-bottom: 0;
                }

                .budget-analysis {
                  img {
                    height: 1rem;
                    margin-right: 0.5rem;
                  }
                }

                .period-cost {
                  img {
                    height: 1rem;
                    margin-right: 0.5rem;
                  }

                  h3 {
                    color: $cost-color;
                  }
                }
              }
            }

            #today-usage {
              .title-with-dates {
                width: 100%;

                p {
                  margin-top: 0;
                }
              }

              grid-column: 2/4;

              .graph {
                width: 100%;
              }
            }

            #my-bill {
              p {
                margin-bottom: 5vh;
              }
            }

            #challenge {
              h3 {
                margin-bottom: 0;
              }

              p {
                margin-top: 0;
              }
            }

            #outages {
              .area-outages {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;

                img {
                  width: 15%;
                }

                p {
                  text-align: center;
                }
              }
            }

            #tips {
              .img-and-tip {
                @include flex(row wrap, center, space-between);
                width: 100%;

                h3 {
                  width: auto;
                }
              }
            }

            #neighborhood {
              img {
                width: 100%;
              }
            }

            #co2-emisions {
              p {
                margin-top: 1rem;
                margin-bottom: 0;
              }

              h3 {
                font-size: 2rem;
                margin-top: 0;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }

    .main-openNavDesktop {
      width: 80%;
      transform: translateX(0%);
    }

    .main-closeNavDesktop {
      width: 100%;
      transform: translateX(0%);
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    .body-container {
      main {
        .dashboard {
          .grid-container {
            .grid {
              grid-template-columns: 1fr 1fr 1fr 1fr;

              .card {
                grid-column: span 2;
              }

              #period-usage {
                grid-column: span 4;
                @include flex(row wrap, center, space-between);

                .graph {
                  width: 50%;
                }

                hr {
                  display: none;
                }

                .period-info {
                  width: 50%;
                  flex-flow: column wrap;

                  .budget-analysis {
                    margin-bottom: 2rem;
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }

                  .period-cost {
                    margin-bottom: 2rem;
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }
                }
              }

              #today-usage {
                grid-column: span 4;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  body {
    .body-container {
      .nav-closeNavMobile {
        position: absolute;
        height: auto;
        width: 80%;
        z-index: 1;
        transform: translateX(-100%);
      }

      .nav-openNavMobile {
        position: absolute;
        height: auto;
        width: 80%;
        z-index: 1;
        transform: translateX(0%);      
      }

      main {
        width: 100%;

        .dashboard {
          .grid-container {
            .grid {
              grid-template-columns: 1fr 1fr 1fr 1fr;

              .card {
                grid-column: span 2;
              }

              #period-usage {
                grid-column: span 4;
                @include flex(row wrap, center, space-between);

                .graph {
                  width: 50%;
                }

                hr {
                  display: none;
                }

                .period-info {
                  width: 50%;
                  flex-flow: column wrap;

                  .budget-analysis {
                    margin-bottom: 2rem;
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }

                  .period-cost {
                    margin-bottom: 2rem;
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }
                }
              }

              #today-usage {
                grid-column: span 4;
              }
            }
          }
        }
      }

      .main-openNavMobile {
        width: 100%;
        transform: translateX(80%);
      }
  
      .main-closeNavMobile {
        width: 100%;
        transform: translateX(0%);  
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  body {
    .body-container {
      nav {
        position: fixed;
        transform: translateX(-100%);
      }

      main {
        width: 100%;

        header {
          .icons {
            flex-grow: 1;
          }

          .help-center {
            .help-center-info {
              display: none;
            }
          }

          .user {
            flex-grow: 1;
          }
        }

        .dashboard {
          .title-container {
            margin-top: 1rem;
            margin-bottom: 2rem;

            .survey-button-link {
              margin-top: 1rem;
              width: 100%;
            }
          }

          .grid-container {
            .grid {
              #my-bill {
                strong {
                  font-size: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .body-container {
      nav {
        position: fixed;
        transform: translateX(-100%);
      }

      main {
        width: 100%;

        header {
          .icons {
            flex-grow: 1;
          }

          .help-center {
            .help-center-info {
              display: none;
            }
          }

          .user {
            flex-grow: 2;
          }
        }

        .dashboard {
          .title-container {
            margin-top: 1rem;
            margin-bottom: 2rem;

            .survey-button-link {
              margin-top: 1rem;
              width: 100%;
            }
          }

          .grid-container {
            .grid {
              grid-template-columns: 1fr 1fr 1fr 1fr;

              .card {
                grid-column: span 4;
              }

              #period-usage {
                grid-column: span 4;
                @include flex(row wrap, center, space-between);

                .graph {
                  width: 50%;
                }

                hr {
                  display: none;
                }

                .period-info {
                  width: 50%;
                  flex-flow: column wrap;

                  .budget-analysis {
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }

                  .period-cost {
                    width: 75%;
                    @include flex(row wrap, center, space-around);

                    h3 {
                      width: auto;
                    }

                    p {
                      width: auto;
                    }
                  }
                }
              }

              #today-usage {
                grid-column: span 4;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    .body-container {
      nav {
        position: fixed;
        transform: translateX(-100%);
      }

      main {
        width: 100%;

        header {
          .icons {
            flex-grow: 1;
          }

          .user {
            flex-grow: 1;
            justify-content: center;

            p {
              display: none;
            }
          }
        }

        .dashboard {
          .title-container {
            margin-top: 1rem;
            margin-bottom: 2rem;

            .survey-button-link {
              margin-top: 1rem;
              width: 100%;
            }
          }

          .grid-container {
            .grid {
              #period-usage {
                grid-column: span 4;
                @include flex(row wrap, center, space-between);

                .graph {
                  width: 100%;
                }

                hr {
                  display: block;
                  border: 1px solid rgba(0, 0, 0, 0.10);
                  width: 100%;
                }

                .period-info {
                  width: 100%;
                  display: flex;
                  @include flex(row wrap, baseline, space-around);
                  text-align: center;

                  h3 {
                    font-size: 2.5rem;
                    margin-bottom: 0.5rem;
                  }

                  .budget-analysis {
                    width: 45%;
                  }

                  .period-cost {
                    width: 45%;
                  }
                }
              }

              #today-usage {
                grid-column: span 4;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  body {
    .body-container {
      nav {
        position: fixed;
        transform: translateX(-100%);
      }

      main {
        width: 100%;

        header {
          .icons {
            padding-left: 0;
            padding-right: 0;
            flex-grow: 1;
          }

          .help-center {
            padding-left: 0;
            padding-right: 0;
          }

          .user {
            padding-left: 0;
            padding-right: 0;
            flex-grow: 1;
            justify-content: center;

            p {
              display: none;
            }
          }
        }

        .dashboard {
          .title-container {
            margin-top: 1rem;
            margin-bottom: 2rem;

            .survey-button-link {
              margin-top: 1rem;
              width: 100%;
            }
          }

          .grid-container {
            .grid {
              #period-usage {
                grid-column: span 4;
                @include flex(row wrap, center, space-between);

                .graph {
                  width: 100%;
                }

                hr {
                  display: block;
                  border: 1px solid rgba(0, 0, 0, 0.10);
                  width: 100%;
                }

                .period-info {
                  width: 100%;
                  @include flex(row wrap, baseline, space-around);
                  text-align: center;

                  h3 {
                    font-size: 2.5rem;
                    margin-bottom: 0.5rem;
                  }

                  .budget-analysis {
                    width: 45%;
                  }

                  .period-cost {
                    width: 45%;
                  }
                }
              }

              #today-usage {
                grid-column: span 4;
              }
            }
          }
        }
      }
    }
  }
}