body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #9d9d9d;
  box-sizing: border-box; }
  body .main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden; }
    body .main-container nav {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      height: auto;
      box-sizing: border-box;
      background-color: #00c674;
      float: left;
      overflow: hidden;
      transition: transform 0.3s, position 0.3s;
      width: 20%;
      position: static; }
      body .main-container nav .img-container {
        height: 7vh;
        min-height: 4rem;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center; }
        body .main-container nav .img-container a {
          height: 50%;
          width: 100%;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center; }
        body .main-container nav .img-container img {
          height: 100%; }
      body .main-container nav .img-container:hover {
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01)); }
        body .main-container nav .img-container:hover img {
          transition: transform 0.3s;
          transform: scale(1.1); }
      body .main-container nav .search-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 7vh;
        min-height: 4rem;
        background-color: rgba(0, 0, 0, 0.1); }
        body .main-container nav .search-container input {
          height: 100%;
          width: 85%;
          border: none;
          background: none;
          font-family: "Quicksand", sans-serif;
          color: white;
          font-size: 1rem;
          padding-left: 1rem;
          padding-right: 1rem; }
        body .main-container nav .search-container a {
          width: 15%;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center; }
          body .main-container nav .search-container a img {
            width: 1.2rem; }
          body .main-container nav .search-container a img:hover {
            transition: transform .1s;
            transform: scale(1.2); }
      body .main-container nav ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: "Quicksand", sans-serif;
        color: white;
        font-size: 1rem;
        opacity: 1;
        /* Firefox */ }
      body .main-container nav :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: "Quicksand", sans-serif;
        color: white;
        font-size: 1rem; }
      body .main-container nav ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: "Quicksand", sans-serif;
        color: white;
        font-size: 1rem; }
      body .main-container nav ul {
        list-style-type: none; }
        body .main-container nav ul li {
          display: block; }
          body .main-container nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 100%; }
            body .main-container nav ul li a img {
              width: 1.2rem;
              margin-right: 1rem; }
            body .main-container nav ul li a p {
              margin-right: 1rem;
              width: 100%; }
          body .main-container nav ul li a:hover {
            transition: transform .1s;
            transform: translate(0.5rem); }
      body .main-container nav hr {
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%; }
    body .main-container main {
      height: 100%;
      width: 80%;
      float: right;
      background-image: linear-gradient(#f6f8f8, #e1e8eb);
      box-sizing: border-box;
      transition: position 0.3s, width 0.3s, transform 0.3s; }
      body .main-container main header {
        height: 7vh;
        min-height: 4rem;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        /* Standard */
        /* Chrome, Safari, Opera */ }
        body .main-container main header .icons {
          flex-grow: 4;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-start;
          padding: 1rem;
          border-right: 1px solid rgba(0, 0, 0, 0.05); }
          body .main-container main header .icons img {
            height: 1.75rem;
            padding-left: 1rem;
            padding-right: 1rem; }
          body .main-container main header .icons #menu-icon {
            height: 1.25rem;
            width: 2rem;
            transition: transform 0.2s;
            transition-delay: 0.1s; }
          body .main-container main header .icons #message-icon {
            transition: transform 0.2s;
            transition-delay: 0.1s; }
          body .main-container main header .icons #bell-icon {
            transition: transform 0.2s;
            transition-delay: 0.1s; }
        body .main-container main header #menu-icon:hover {
          transform: scale(1.1); }
        body .main-container main header #message-icon:hover {
          -webkit-animation: message 1s;
          -webkit-animation-iteration-count: infinite;
          animation: message 1s;
          animation-iteration-count: infinite; }
        body .main-container main header #bell-icon:hover {
          -webkit-animation: bell 1s;
          -webkit-animation-iteration-count: infinite;
          animation: bell 1s;
          animation-iteration-count: infinite; }

@keyframes bell {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(20deg); }
  40% {
    transform: rotateZ(-20deg); }
  60% {
    transform: rotateZ(20deg); }
  75% {
    transform: rotateZ(-20deg); }
  100% {
    transform: rotateZ(0deg); } }

@keyframes message {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.5rem); }
  60% {
    transform: translateY(0.25rem); }
  100% {
    transform: translateY(0); } }

@-webkit-keyframes bell {
  0% {
    transform: rotateZ(0deg); }
  33% {
    transform: rotateZ(20deg); }
  66% {
    transform: rotateZ(-20deg); }
  100% {
    transform: rotateZ(0deg); } }
        body .main-container main header .help-center {
          flex-grow: 1;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          padding-top: 0;
          padding-bottom: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.05); }
          body .main-container main header .help-center a {
            text-decoration: none; }
          body .main-container main header .help-center #help-icon {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            height: 2rem;
            width: 2rem;
            color: white;
            background-color: #00a1b2;
            border-radius: 50%;
            text-align: center; }
          body .main-container main header .help-center .help-center-info {
            height: 100%;
            box-sizing: border-box;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-left: 1rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center; }
            body .main-container main header .help-center .help-center-info .row {
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: flex-start;
              height: 35%; }
              body .main-container main header .help-center .help-center-info .row img {
                margin: 0.5rem; }
              body .main-container main header .help-center .help-center-info .row #help-text {
                font-weight: 500; }
              body .main-container main header .help-center .help-center-info .row #dropdown-icon {
                height: 0.5rem;
                margin-bottom: 0; }
              body .main-container main header .help-center .help-center-info .row #online-text {
                font-size: 0.75rem; }
              body .main-container main header .help-center .help-center-info .row #online-icon {
                display: block;
                height: 0.33rem;
                width: 0.33rem;
                background-color: #00c674;
                border-radius: 50%;
                margin-right: 0.25rem; }
        body .main-container main header .user {
          flex-grow: 1;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-start;
          padding-left: 1rem;
          padding-right: 1rem; }
          body .main-container main header .user #user-icon {
            object-fit: cover;
            width: 3rem;
            height: 3rem;
            border: 2px solid #00c674;
            border-radius: 50%; }
          body .main-container main header .user p {
            font-weight: 500;
            margin-left: 0.5rem; }
      body .main-container main .dashboard {
        display: block;
        padding: 1.5rem;
        padding-top: 0;
        height: 100%;
        box-sizing: border-box; }
        body .main-container main .dashboard .upper-container {
          height: 15vh;
          min-height: 8rem;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between; }
          body .main-container main .dashboard .upper-container .title p {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0.5rem; }
          body .main-container main .dashboard .upper-container .title h1 {
            color: #12a366;
            font-size: 2.75rem;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0; }
          body .main-container main .dashboard .upper-container .survey-button-link {
            text-decoration: none;
            height: 40%;
            width: 25rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center; }
            body .main-container main .dashboard .upper-container .survey-button-link button {
              font-family: "Quicksand", sans-serif;
              color: white;
              background-color: #00c674;
              border: none;
              height: 100%;
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              font-size: 1.25rem; }
            body .main-container main .dashboard .upper-container .survey-button-link button:hover {
              cursor: pointer;
              transition: box-shadow 0.1s;
              transition: transform 0.5s;
              transform: scale(1.05);
              box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
        body .main-container main .dashboard .lower-container {
          height: 85%;
          width: 100%; }
          body .main-container main .dashboard .lower-container .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(auto, auto);
            grid-gap: 1.5rem;
            height: 100%; }
            body .main-container main .dashboard .lower-container .grid .card {
              background-color: white;
              display: flex;
              flex-flow: column wrap;
              align-items: center;
              justify-content: space-between;
              box-sizing: border-box;
              padding: 1.5rem; }
              body .main-container main .dashboard .lower-container .grid .card h2 {
                width: 100%;
                font-weight: 500;
                color: #727376;
                font-size: 1.25rem; }
              body .main-container main .dashboard .lower-container .grid .card h3 {
                width: 100%;
                font-weight: 400;
                color: #12a366;
                font-size: 1.75rem; }
              body .main-container main .dashboard .lower-container .grid .card strong {
                width: 100%;
                font-weight: 500;
                color: #12a366;
                font-size: 5.5rem; }
              body .main-container main .dashboard .lower-container .grid .card p {
                width: 100%; }
              body .main-container main .dashboard .lower-container .grid .card .important {
                font-style: none;
                color: #12a366; }
              body .main-container main .dashboard .lower-container .grid .card .card-button-link {
                width: 100%;
                height: 7vh;
                min-height: 4rem; }
                body .main-container main .dashboard .lower-container .grid .card .card-button-link .card-button {
                  font-family: "Quicksand", sans-serif;
                  font-size: 1.25rem;
                  border: none;
                  color: white;
                  background-color: #00a1b2;
                  width: 100%;
                  height: 100%; }
                body .main-container main .dashboard .lower-container .grid .card .card-button-link button:hover {
                  cursor: pointer;
                  transition: transform .2s;
                  transform: scale(1.05); }
            body .main-container main .dashboard .lower-container .grid .card:hover {
              cursor: pointer;
              transition: box-shadow 0.1s;
              transition: transform 0.5s;
              transform: scale(1.025);
              box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
            body .main-container main .dashboard .lower-container .grid #period-usage .title-with-dates {
              width: 100%; }
              body .main-container main .dashboard .lower-container .grid #period-usage .title-with-dates p {
                margin-top: 0; }
            body .main-container main .dashboard .lower-container .grid #period-usage .graph {
              width: 75%;
              margin-top: 2rem;
              margin-bottom: 2rem; }
            body .main-container main .dashboard .lower-container .grid #period-usage hr {
              border: 1px solid rgba(0, 0, 0, 0.1);
              width: 100%; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
              width: 100%;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: space-between; }
              body .main-container main .dashboard .lower-container .grid #period-usage .period-info h3 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 3rem; }
              body .main-container main .dashboard .lower-container .grid #period-usage .period-info p {
                margin-top: 0;
                margin-bottom: 0; }
              body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis img {
                height: 1rem;
                margin-right: 0.5rem; }
              body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost img {
                height: 1rem;
                margin-right: 0.5rem; }
              body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost h3 {
                color: #00a1b2; }
            body .main-container main .dashboard .lower-container .grid #today-usage {
              grid-column: 2/4; }
              body .main-container main .dashboard .lower-container .grid #today-usage .title-with-dates {
                width: 100%; }
                body .main-container main .dashboard .lower-container .grid #today-usage .title-with-dates p {
                  margin-top: 0; }
              body .main-container main .dashboard .lower-container .grid #today-usage .graph {
                width: 100%; }
            body .main-container main .dashboard .lower-container .grid #my-bill p {
              margin-bottom: 5vh; }
            body .main-container main .dashboard .lower-container .grid #challenge h3 {
              margin-bottom: 0; }
            body .main-container main .dashboard .lower-container .grid #challenge p {
              margin-top: 0; }
            body .main-container main .dashboard .lower-container .grid #outages .area-outages {
              display: flex;
              flex-flow: column wrap;
              align-items: center;
              justify-content: center; }
              body .main-container main .dashboard .lower-container .grid #outages .area-outages img {
                width: 15%; }
              body .main-container main .dashboard .lower-container .grid #outages .area-outages p {
                text-align: center; }
            body .main-container main .dashboard .lower-container .grid #tips .img-and-tip {
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: space-between;
              width: 100%; }
              body .main-container main .dashboard .lower-container .grid #tips .img-and-tip h3 {
                width: auto; }
            body .main-container main .dashboard .lower-container .grid #neighborhood img {
              width: 100%; }
            body .main-container main .dashboard .lower-container .grid #co2-emisions p {
              margin-top: 1rem;
              margin-bottom: 0; }
            body .main-container main .dashboard .lower-container .grid #co2-emisions h3 {
              font-size: 2rem;
              margin-top: 0;
              margin-bottom: 1rem; }

@media only screen and (max-width: 1200px) {
  body .main-container main .dashboard .lower-container .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    body .main-container main .dashboard .lower-container .grid .card {
      grid-column: span 2; }
    body .main-container main .dashboard .lower-container .grid #period-usage {
      grid-column: span 4;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between; }
      body .main-container main .dashboard .lower-container .grid #period-usage .graph {
        width: 50%; }
      body .main-container main .dashboard .lower-container .grid #period-usage hr {
        display: none; }
      body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
        width: 50%;
        flex-flow: column wrap; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis {
          margin-bottom: 2rem;
          width: 75%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-around; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis h3 {
            width: auto; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis p {
            width: auto; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost {
          margin-bottom: 2rem;
          width: 75%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-around; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost h3 {
            width: auto; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost p {
            width: auto; }
    body .main-container main .dashboard .lower-container .grid #today-usage {
      grid-column: span 4; } }

@media only screen and (max-width: 900px) {
  body .main-container nav {
    position: absolute;
    height: auto;
    z-index: 1;
    transform: translateX(-100%); }
  body .main-container main {
    width: 100%; }
    body .main-container main .dashboard .lower-container .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      body .main-container main .dashboard .lower-container .grid .card {
        grid-column: span 2; }
      body .main-container main .dashboard .lower-container .grid #period-usage {
        grid-column: span 4;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between; }
        body .main-container main .dashboard .lower-container .grid #period-usage .graph {
          width: 50%; }
        body .main-container main .dashboard .lower-container .grid #period-usage hr {
          display: none; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
          width: 50%;
          flex-flow: column wrap; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis {
            margin-bottom: 2rem;
            width: 75%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis h3 {
              width: auto; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis p {
              width: auto; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost {
            margin-bottom: 2rem;
            width: 75%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost h3 {
              width: auto; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost p {
              width: auto; }
      body .main-container main .dashboard .lower-container .grid #today-usage {
        grid-column: span 4; } }

@media only screen and (max-width: 750px) {
  body .main-container nav {
    position: fixed;
    transform: translateX(-100%); }
  body .main-container main {
    width: 100%; }
    body .main-container main header .icons {
      flex-grow: 1; }
    body .main-container main header .help-center .help-center-info {
      display: none; }
    body .main-container main header .user {
      flex-grow: 1; }
    body .main-container main .dashboard .upper-container {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      body .main-container main .dashboard .upper-container .survey-button-link {
        margin-top: 1rem;
        width: 100%; }
    body .main-container main .dashboard .lower-container .grid #my-bill strong {
      font-size: 4rem; } }

@media only screen and (max-width: 600px) {
  body .main-container nav {
    position: fixed;
    transform: translateX(-100%); }
  body .main-container main {
    width: 100%; }
    body .main-container main header .icons {
      flex-grow: 1; }
    body .main-container main header .help-center .help-center-info {
      display: none; }
    body .main-container main header .user {
      flex-grow: 2; }
    body .main-container main .dashboard .upper-container {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      body .main-container main .dashboard .upper-container .survey-button-link {
        margin-top: 1rem;
        width: 100%; }
    body .main-container main .dashboard .lower-container .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      body .main-container main .dashboard .lower-container .grid .card {
        grid-column: span 4; }
      body .main-container main .dashboard .lower-container .grid #period-usage {
        grid-column: span 4;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between; }
        body .main-container main .dashboard .lower-container .grid #period-usage .graph {
          width: 50%; }
        body .main-container main .dashboard .lower-container .grid #period-usage hr {
          display: none; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
          width: 50%;
          flex-flow: column wrap; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis {
            width: 75%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis h3 {
              width: auto; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis p {
              width: auto; }
          body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost {
            width: 75%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost h3 {
              width: auto; }
            body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost p {
              width: auto; }
      body .main-container main .dashboard .lower-container .grid #today-usage {
        grid-column: span 4; } }

@media only screen and (max-width: 500px) {
  body .main-container nav {
    position: fixed;
    transform: translateX(-100%); }
  body .main-container main {
    width: 100%; }
    body .main-container main header .icons {
      flex-grow: 1; }
    body .main-container main header .user {
      flex-grow: 1;
      justify-content: center; }
      body .main-container main header .user p {
        display: none; }
    body .main-container main .dashboard .upper-container {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      body .main-container main .dashboard .upper-container .survey-button-link {
        margin-top: 1rem;
        width: 100%; }
    body .main-container main .dashboard .lower-container .grid #period-usage {
      grid-column: span 4;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between; }
      body .main-container main .dashboard .lower-container .grid #period-usage .graph {
        width: 100%; }
      body .main-container main .dashboard .lower-container .grid #period-usage hr {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%; }
      body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-around;
        text-align: center; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info h3 {
          font-size: 2.5rem;
          margin-bottom: 0.5rem; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis {
          width: 45%; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost {
          width: 45%; }
    body .main-container main .dashboard .lower-container .grid #today-usage {
      grid-column: span 4; } }

@media only screen and (max-width: 400px) {
  body .main-container nav {
    position: fixed;
    transform: translateX(-100%); }
  body .main-container main {
    width: 100%; }
    body .main-container main header .icons {
      padding-left: 0;
      padding-right: 0;
      flex-grow: 1; }
    body .main-container main header .help-center {
      padding-left: 0;
      padding-right: 0; }
    body .main-container main header .user {
      padding-left: 0;
      padding-right: 0;
      flex-grow: 1;
      justify-content: center; }
      body .main-container main header .user p {
        display: none; }
    body .main-container main .dashboard .upper-container {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      body .main-container main .dashboard .upper-container .survey-button-link {
        margin-top: 1rem;
        width: 100%; }
    body .main-container main .dashboard .lower-container .grid #period-usage {
      grid-column: span 4;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between; }
      body .main-container main .dashboard .lower-container .grid #period-usage .graph {
        width: 100%; }
      body .main-container main .dashboard .lower-container .grid #period-usage hr {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%; }
      body .main-container main .dashboard .lower-container .grid #period-usage .period-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-around;
        text-align: center; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info h3 {
          font-size: 2.5rem;
          margin-bottom: 0.5rem; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .budget-analysis {
          width: 45%; }
        body .main-container main .dashboard .lower-container .grid #period-usage .period-info .period-cost {
          width: 45%; }
    body .main-container main .dashboard .lower-container .grid #today-usage {
      grid-column: span 4; } }
