<div class="fluid-contianer footer">
  <div class="row newsfoot">
    <app-newsletter></app-newsletter>
  </div>
  <div class="row linksfoot">
    <div class="row foot-nav">
      <ul class="navbar-nav ml-auto navlist">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SPECIALITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="row foot-social">
      <ul class="navbar-nav ml-auto navlist">
        <li class="nav-item">
          <a class="nav-link" href="#" class="social-icons" id="twitter">
            <!-- <img src="assets/gray/Twitter.png" class="social-icons" id="twitter"> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" class="social-icons" id="instagram">
            <!-- <img src="assets/gray/Instagram.png" class="social-icons" id="instagram"> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" class="social-icons" id="facebook">
            <!-- <img src="assets/gray/Facebook.png" class="social-icons" id="facebook"> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" class="social-icons" id="youtube">
            <!-- <img src="assets/gray/YouTube.png" class="social-icons" id="youtube"> -->
          </a>
        </li>
      </ul>
    </div>
    <hr>
    <p class="copy">&copy; Copyright 2018</p>
  </div>
</div>
