<div class="container-fluid food-info">
    <div class="row box-row">
        <div class="flex-container box">
          <div class="col-6 content">
              <app-food-info-content [contentId]=contentIdChild [typeOfContent]=firstType>
              </app-food-info-content>
          </div>
          <div class="col-6 content">
              <app-food-info-content [contentId]=contentIdChild [typeOfContent]=secondType>
              </app-food-info-content>
          </div>          
        </div>
      </div>
</div>
