<div class="container-fluid social-nav">
  <div class="search-shop-links">
    <a href="#"><img src="assets/search-icon.png" id="search"></a>
    <a href="#"><img src="assets/shop-icon.svg" id="shop"></a>
  </div>
  <div class="social-links">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Instagram</a>
      </li>
    </ul>
  </div>
</div>
